<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>

    <div class="card">
        <input type="file" name="myFile">
        <button type="submit">Upload</button>
    </div>

    <div class="card">
        <input id="message_input" type="text" placeholder="your message">
    </div>

    <div class="card">
        <input id="vpisna_st" type="text" placeholder="your vpisna st." value="63210116">
    </div>

    <button id="generate">Send</button>
    <p id="response_message"></p>


    <div id="map"></div>



</body>
<script>
    let latitude;
    let longitude;
    window.addEventListener('load', () => {
        if ("geolocation" in navigator) {
            // Request the user's current position
            navigator.geolocation.getCurrentPosition(function (position) {
                // Retrieve latitude and longitude
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
                const location = { lat: latitude, lon: longitude };
                // Do something with the latitude and longitude, like display them on the webpage
                console.log("Latitude: " + latitude + ", Longitude: " + longitude);
            });
        } else {
            // Geolocation is not supported by the browser
            console.log("Geolocation is not supported by this browser.");
        }

        document.getElementById('generate').addEventListener('click', () => {

            const messageToSend = document.getElementById('message_input').value;
            const vpisna = document.getElementById('vpisna_st').value;

            async function getUrnik() {
                const urnikResponse = await fetch(`https://urnik.fri.uni-lj.si/timetable/fri-2023_2024-letni-1-17/allocations?student=${vpisna}`);
                const urnikHTML = await urnikResponse.text();
                const doc = new DOMParser().parseFromString(urnikHTML, 'text/html');
                let urnik = [];
                doc.querySelectorAll('.entry-hover').forEach((el) => {
                    urnik.push(el.childNodes[0]);
                });
                console.log(urnik);
                return urnik;
            }

            getUrnik().then(urnik => {
                fetch('/inspiro-generate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        message: messageToSend,
                        urnik: urnik,
                        location: location
                    })
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to send text to server');
                        }
                    })
                    .then(data => {
                        console.log('Response from server:', data);
                        document.getElementById('response_message').textContent = data.aiResponse;

                        var map = L.map('map').setView([latitude, longitude], 20);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 19,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
                        }).addTo(map);
                        // Assuming trailData is your GeoJSON trail data
                        // L.geoJSON(trailData).addTo(map);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    });
</script>

</html>