<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>

    <div class="card">
        <input type="file" name="myFile">
        <button type="submit">Upload</button>
    </div>

    <div class="card">
        <input id="message_input" type="text" placeholder="your message">
    </div>

    <div class="card">
        <input id="vpisna_st" type="text" placeholder="your vpisna st." value="63210116">
    </div>

    <button id="generate">Send</button>
    <p id="response_message"></p>






</body>
<script>
    window.addEventListener('load', () => {
        document.getElementById('generate').addEventListener('click', () => {

            const messageToSend = document.getElementById('message_input').value;
            const vpisnaToSend = document.getElementById('vpisna_st').value;

            fetch()

            fetch('/inspiro-generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    message: messageToSend,
                    vpisnaSt: vpisnaToSend
                })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to send text to server');
                    }
                })
                .then(data => {
                    console.log('Response from server:', data);
                    document.getElementById('response_message').textContent = data.aiResponse;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>

</html>