<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <input id="message_input" type="text" placeholder="your message">
    <button id="send_message">Send</button>

    <p id="response_message"></p>
</body>

<script>
    window.addEventListener('load', () => {
        document.getElementById('send_message').addEventListener('click', () => {

            const messageToSend = document.getElementById('message_input').value;

            fetch('/openAI', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: messageToSend })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Failed to send text to server');
                    }
                })
                .then(data => {
                    console.log('Response from server:', data);
                    document.getElementById('response_message').textContent = data.aiResponse;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>

</html>